/**
* @file
* Filename:     style.css.
* Website:      http://www.ordasoft.com
* Description:  system styles
* Author:       ordasoft dev team ordasoft.com.
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,300,700,600,800);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Prosto+One);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Share:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,300,200);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
#content {
  padding: 20px;
}
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: auto;
}
a, a:hover, a:focus {
  outline: medium none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 4px 0;
  font-weight: normal;
}
input, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  max-width: 100%;
}
#staticPanel {
  background: #fff;
  margin-bottom: 4%;
  border-bottom: 24px solid #7676fe;
}
.container.contBox {
  min-height: 500px;
}

/*__________________________social icons_________________________*/
.socIcons li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid #CECECE;
}
.socIcons li:last-child {
  border-right: none; 
}
.socIcons li a i {
  font-size: 15px;
  color: #fff;
  line-height: 36px;
  margin: 0 10px;
}
.logoPanel {
  margin: 8px 12px;
  text-align: left;
}
#topLine {
  color: #777;
}
.topMenu ul li.leaf {
  list-style-image: none !important;
  display: inline-block;
  border-right: 1px solid #CECECE;
  padding: 0;
  margin: 0;
}
.topMenu ul li.leaf:last-child {
  border-right: none;
}
.topMenu li a {
  font-size: 14px;
  line-height: 36px;
  margin: 0 10px;
  padding: 0;
  position: relative;
}
#content .messageLog {
  margin: 20px 0 0 0;
}
#wrapper.default #page5 {
  padding: 0 0 50px 0;
}

/*______________ DROPDOWN MENU _________________*/
nav#site-navigation {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0;
}
ul.menu.nav.navbar-nav.red {
  display: none;
}
ul.menu.nav.navbar-nav li:hover ul.menu.nav.navbar-nav.red{
  display: block;
}
ul.menu.nav.navbar-nav li {
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
}
li.parent ul a {
  color: #fff;
}
ul.menu.nav.navbar-nav > li > a {
  border-radius: 0 0 0 0;
  float: left;
  font-size: 15px;
  margin-bottom:  0;
  padding: 28px 24px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -khtml-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
ul.menu.nav.navbar-nav li a.active {
  color: #fff;
  background: #7676fe;
}
ul.menu.nav.navbar-nav > li.parent {
  display: block;
  float: left;
  width: auto;
}
ul.menu.nav.navbar-nav li a {
  -khtml-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
ul.menu.nav.navbar-nav.red, 
.mainMenu ul.menu li ul li.parent ul {
  list-style: none;
  position: absolute;
  float: left;
  min-width: 170px;
  z-index: 9;
}
ul.menu.nav.navbar-nav.red {
  left: 0;
  margin: 0;
  top: 100%;
}
.mainMenu ul.menu li ul li.parent ul {
  left: 99%;
  top: -1px;
}
ul.menu.nav.navbar-nav.red {
  background: #fff;
  border-left: 1px solid #d5d5d5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
  border-top: 2px solid #12ABFF;
}
ul.menu.nav.navbar-nav.red li a {
  text-transform: capitalize;
  float: left;
  margin: 0 15px 0 8px;
  padding: 7px 0;
  font-size: 14px;
  text-indent: 10px;
  white-space: nowrap;
  width: 90%;
  -khtml-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*________________________________ switch color ______________________________*/
#wrapper.default input[type="submit"],
#wrapper.default li.servicesRow a.readMore,
#wrapper.default ul.links li.node-readmore a,
#wrapper.default .mainMenu ul.menu li.parent ul, 
#wrapper.default ul.links li[class^="comment"] a,
#wrapper.default ul.links li.blog_usernames_blog a,
#wrapper.default #pagination1 .swiper-active-switch, 
#wrapper.default #pagination2 .swiper-active-switch,
#wrapper.default .mainMenu ul.menu li ul li.parent ul {
  color: #fff;
  line-height: 32px;
  border: 0px;
  text-align: center;
  width: 100px;
  background: #7676fe;
  box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 0px;
  margin: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#wrapper.default .mainMenu ul.menu > li > a:hover, 
#wrapper.default .mainMenu ul.menu > li > a.active {
  border-bottom: 4px solid #4282AA;
}
#wrapper.default .field-name-field-img-blog a img:hover {
  border: 4px solid #4282AA;
}
#wrapper.default #hexagon:hover:after {
  border-top: 25px solid #4282AA;
}
#wrapper.default #hexagon:hover:before {
  border-bottom: 25px solid #4282AA;
}
#wrapper.default .itemFeatur:hover .featuresTitle i {
  color: #4282AA;
}

#wrapper.divLghtGreen #hexagon:hover,
#wrapper.divLghtGreen input[type="submit"],
#wrapper.divLghtGreen li.servicesRow a.readMore,
#wrapper.divLghtGreen ul.links li.node-readmore a,
#wrapper.divLghtGreen .mainMenu ul.menu li.parent ul, 
#wrapper.divLghtGreen ul.links li[class^="comment"] a,
#wrapper.divLghtGreen ul.links li.blog_usernames_blog a,
#wrapper.divLghtGreen #pagination1 .swiper-active-switch, 
#wrapper.divLghtGreen #pagination2 .swiper-active-switch,
#wrapper.divLghtGreen .mainMenu ul.menu li ul li.parent ul {
  background-color: #4FC3AE;
}
#wrapper.divLghtGreen .mainMenu ul.menu > li > a:hover, 
#wrapper.divLghtGreen .mainMenu ul.menu > li > a.active {
  border-bottom: 4px solid #4FC3AE;
}
#wrapper.divLghtGreen .field-name-field-img-blog a img:hover {
  border: 4px solid #4FC3AE;
}
#wrapper.divLghtGreen #hexagon:hover:after {
  border-top: 25px solid #4FC3AE;
}
#wrapper.divLghtGreen #hexagon:hover:before {
  border-bottom: 25px solid #4FC3AE;
}
#wrapper.divLghtGreen .itemFeatur:hover .featuresTitle i {
  color: #4FC3AE;
}

#wrapper.divOrange #hexagon:hover,
#wrapper.divOrange input[type="submit"],
#wrapper.divOrange li.servicesRow a.readMore,
#wrapper.divOrange ul.links li.node-readmore a,
#wrapper.divOrange .mainMenu ul.menu li.parent ul, 
#wrapper.divOrange ul.links li[class^="comment"] a,
#wrapper.divOrange ul.links li.blog_usernames_blog a,
#wrapper.divOrange #pagination1 .swiper-active-switch, 
#wrapper.divOrange #pagination2 .swiper-active-switch,
#wrapper.divOrange .mainMenu ul.menu li ul li.parent ul {
  background-color: #F97A14;
}
#wrapper.divOrange .mainMenu ul.menu > li > a:hover, 
#wrapper.divOrange .mainMenu ul.menu > li > a.active {
  border-bottom: 4px solid #F97A14;
}
#wrapper.divOrange .field-name-field-img-blog a img:hover {
  border: 4px solid #F97A14;
}
#wrapper.divOrange #hexagon:hover:after {
  border-top: 25px solid #F97A14;
}
#wrapper.divOrange #hexagon:hover:before {
  border-bottom: 25px solid #F97A14;
}
#wrapper.divOrange .itemFeatur:hover .featuresTitle i {
  color: #F97A14;
}

#wrapper.divRed #hexagon:hover,
#wrapper.divRed input[type="submit"],
#wrapper.divRed li.servicesRow a.readMore,
#wrapper.divRed ul.links li.node-readmore a,
#wrapper.divRed .mainMenu ul.menu li.parent ul, 
#wrapper.divRed ul.links li[class^="comment"] a,
#wrapper.divRed ul.links li.blog_usernames_blog a,
#wrapper.divRed #pagination1 .swiper-active-switch, 
#wrapper.divRed #pagination2 .swiper-active-switch,
#wrapper.divRed .mainMenu ul.menu li ul li.parent ul {
  background-color: #D2525A;
}
#wrapper.divRed .mainMenu ul.menu > li > a:hover, 
#wrapper.divRed .mainMenu ul.menu > li > a.active {
  border-bottom: 4px solid #D2525A;
}
#wrapper.divRed .field-name-field-img-blog a img:hover {
  border: 4px solid #D2525A;
}
#wrapper.divRed #hexagon:hover:after {
  border-top: 25px solid #D2525A;
}
#wrapper.divRed #hexagon:hover:before {
  border-bottom: 25px solid #D2525A;
}
#wrapper.divRed .itemFeatur:hover .featuresTitle i {
  color: #D2525A;
}

#wrapper.divGreen #hexagon:hover,
#wrapper.divGreen input[type="submit"],
#wrapper.divGreen li.servicesRow a.readMore,
#wrapper.divGreen ul.links li.node-readmore a,
#wrapper.divGreen .mainMenu ul.menu li.parent ul, 
#wrapper.divGreen ul.links li[class^="comment"] a,
#wrapper.divGreen ul.links li.blog_usernames_blog a,
#wrapper.divGreen #pagination1 .swiper-active-switch,
#wrapper.divGreen #pagination2 .swiper-active-switch,
#wrapper.divGreen .mainMenu ul.menu li ul li.parent ul {
  background-color: #2E8B57;
}
#wrapper.divGreen .mainMenu ul.menu > li > a:hover,
#wrapper.divGreen .mainMenu ul.menu > li > a.active {
  border-bottom: 4px solid #2E8B57;
}
#wrapper.divGreen .field-name-field-img-blog a img:hover {
  border: 4px solid #2E8B57;
}
#wrapper.divGreen #hexagon:hover:after {
  border-top: 25px solid #2E8B57;
}
#wrapper.divGreen #hexagon:hover:before {
  border-bottom: 25px solid #2E8B57;
}
#wrapper.divGreen .itemFeatur:hover .featuresTitle i {
  color: #2E8B57;
}

#wrapper.divPurple input[type="submit"],
#wrapper.divPurple li.servicesRow a.readMore,
#wrapper.divPurple ul.links li.node-readmore a,
#wrapper.divPurple .mainMenu ul.menu li.parent ul,
#wrapper.divPurple ul.links li[class^="comment"] a,
#wrapper.divPurple ul.links li.blog_usernames_blog a,
#wrapper.divPurple #pagination1 .swiper-active-switch,
#wrapper.divPurple #pagination2 .swiper-active-switch,
#wrapper.divPurple .mainMenu ul.menu li ul li.parent ul {
  background-color: #905A9E;
}
#wrapper.divPurple .mainMenu ul.menu > li > a:hover,
#wrapper.divPurple .mainMenu ul.menu > li > a.active {
  border-bottom: 4px solid #905A9E;
}
#wrapper.divPurple .field-name-field-img-blog a img:hover {
  border: 4px solid #905A9E;
}
#wrapper.divPurple #hexagon:hover:after {
  border-top: 25px solid #905A9E;
}
#wrapper.divPurple #hexagon:hover:before {
  border-bottom: 25px solid #905A9E;
}
#wrapper.divPurple .itemFeatur:hover .featuresTitle i {
  color: #905A9E;
}

@media (max-width: 979px) {
  #wrapper.default .mainMenu ul.menu > li > a:hover,
  #wrapper.default .mainMenu ul.menu > li > a.active {
    border-bottom: 1px solid #4282AA;
  }
  #wrapper.divLghtGreen .mainMenu ul.menu > li > a:hover,
  #wrapper.divLghtGreen .mainMenu ul.menu > li > a.active {
    border-bottom: 1px solid #4FC3AE;
  }
  #wrapper.divOrange .mainMenu ul.menu > li > a:hover,
  #wrapper.divOrange .mainMenu ul.menu > li > a.active {
    border-bottom: 1px solid #F97A14;
  }
  #wrapper.divRed .mainMenu ul.menu > li > a:hover,
  #wrapper.divRed .mainMenu ul.menu > li > a.active {
    border-bottom: 1px solid #D2525A;
  }
  #wrapper.divGreen .mainMenu ul.menu > li > a:hover,
  #wrapper.divGreen .mainMenu ul.menu > li > a.active {
    border-bottom: 1px solid #2E8B57;
  }
  #wrapper.divPurple .mainMenu ul.menu > li > a:hover,
  #wrapper.divPurple .mainMenu ul.menu > li > a.active {
    border-bottom: 1px solid #905A9E;
  }
}
.page-contact .gCont > .region.region-content {
  width: 50%;
  float: left;
}
#contactInfo {
  float: right;
  padding: 0 20px 20px 20px;
  width: 43%;
}
#contactInfo .block h2 {
  padding: 25px 0 5px 0;
  color: #222;
  font-size: 19px;
}
.node-blog .content_links .links ul.links li a,
body.page-blog .view-content .content_links .links ul li a { 
  background: #0180cd;
  font-size: 19px;
  font-weight:300;
  letter-spacing: 1px;
  padding: 6px 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.node-blog .content_links .links ul.links li a,
body.page-blog .view-content .content_links .links ul li a { 
  display: inline-block;
}
.node-blog .content_links .links ul.links li a:hover,
body.page-blog .view-content .content_links .links ul li a:hover {
  background: #009fff;
  text-decoration: none;
}
form.contact-form {
  padding: 10px;
  margin: 0 10px 40px;
}
form#user-pass label,
form#user-pass #edit-submit,
form.contact-form .form-item label,
form.contact-form .form-item input,
form.contact-form .form-type-textarea .form-textarea-wrapper textarea {
  font-size: 18px;
  font-weight: normal;
}
form.contact-form .form-item label {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
form#user-pass input#edit-name,
form.contact-form .form-item input,
form.contact-form .form-type-textarea .form-textarea-wrapper textarea {
  background-color: #F4F4F4;
  border: 1px solid #E6E6E6;
  border-radius: 0 0 0 0;
  box-shadow: none;
  display: block;
  float: left;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 0 20px;
  width: 100%;
}
form#user-pass input#edit-name,
form.contact-form .form-item input[type="text"] {
  height: auto; padding: 14px;
}
form.contact-form .form-type-textarea .form-textarea-wrapper textarea {
  min-height: 200px;
  padding: 14px;
}
form.contact-form .form-item {
  display: block;
  margin: 0 10px;
  overflow: hidden;
}
form#user-pass #edit-actions {
  margin: 0;
  padding: 0;
}
.form-item.form-type-checkbox.form-item-copy input[type="checkbox"] {
  float: left;
  height: 15px;
  margin: 0 15px 0 0;
  width: 15px;
}
.region.region-contact-form {
  float: left;
  margin: 0 2% 0 0;
  width: 42%;
}
.iconsrow .fa-hover {
  background-color: #ebebeb;
  float: left;
  margin: 2px;
  padding: 5px;
  width: 220px;
}
.iconsrow h4 {
  border-bottom: 1px solid #dadada;
  display: block;
  margin: 20px 0 5px;
  padding: 0 0 5px;
}
.iconsrow i {
  margin: 0 5px 0 0;
  font-size: 19px;
}

 /*_______________________ error page _________________________*/
.errorBlock h1 {
  display: block;
  font-size: 90px;
  font-weight: 100;
  margin: 100px 0 60px;
}
.errorBlock h2 {
  font-size: 40px;
  font-weight: 300;
  color: #787878;
}
.errorBox p {
  font-size: 16px;
  font-weight:100;
}
/*_______________________ page blog _________________________*/
body.page-blog .view-content ul li {
  list-style: none;
  margin: 0;
}
body.page-blog .view-content ul li h2 {
  font-weight: 300;
  margin: 25px 0 10px 10px;
  text-align: left;
}
body.page-blog .view-content .content_links .links ul li {
  display: inline-block;
  margin: 10px 10px 10px 0;
}

/*_______________________ R E S P O N S I V E _________________________*/
@media (max-width: 1200px) {
  div#top1 h1 {
    width: 100%;
  }
  .image_team img {
    margin: auto;
    display: block;
  } 
  #top_content1 .all:hover h3 {
    margin: 29px 0 1px 0 !important;
    padding-top: 0 !important;
    font-size: 24px !important;
  }
  div.service_text {
    min-height: auto;
  }
  div.contenttop li .right {
    float: none;
    width: 100%;
    text-align: center;
  }
  div.contenttop li .left {
    float: none;
    text-align: center;
  }
  div.contenttop li {
    width: 44% !important;
  }
  #footer {
    text-align: center;
  }
  #footer ul li {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  
}
@media (max-width: 980px) {
 
  
  .logoPanel {
    text-align: center !important;
  }
  #top_line, #top_line ul.menu {
    text-align: center;
  }
  
  
}
@media (max-width: 768px) {
  ul.menu.nav.navbar-nav li {
    width: 100%;
  }
  ul.menu.nav.navbar-nav li a {
    padding: 16px 0;
    text-align: center;
  }
  ul.menu.nav.navbar-nav.red {
    display: block;
  }
  ul.menu.nav.navbar-nav > li > a {
    float: none;
  }
  ul.menu.nav.navbar-nav.red, .mainMenu ul.menu li ul li.parent ul {
    float: none;
    height: 100%;
    position: inherit;
  }
  ul.menu.nav.navbar-nav.red li a {
    float: none;
    width: 100%;
    margin: 0;
  }
 }
@media (max-width: 600px) {

}
@media (max-width: 685px) {

}
@media (max-width: 568px) {
  div.contenttop li {
    width: 100% !important;
    margin: 10px 0 !important; 
  }
}
@media (max-width: 480px) {
  #top1 h1 {
    font-size: 50px !important;
  }
  #footer h2 {
    font-size: 21px;
  }
}
@media (max-width: 384px) {
  #footer .footerMenu ul.menu {
    width: 100%;
  }
  #footer .footerMenu ul.menu li {
    list-style: none outside none;
    position: relative;
    border-right: medium none;
    float: none;
  }
  #footer .footerMenu ul.menu li a {
    border-bottom: 1px solid #222;
    border-radius: 0 0 0 0;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 4px 9px;
    position: relative;
  }
  #footer .footerMenu ul.menu li:first-child a {
    border-top: 1px solid #222;
  }
  .socIcons li a {
    margin: 5px;
  }
  li.servicesRow, li.weRow {
    width: 85%;
  }
}
@media (max-width: 320px) {
}

/*___________________________________________*/

body.progressBars .block > h2,
body.tooltips .block > h2,
body.notifications .block > h2,
body.tabsAccordion .block > h2,
body.buttons .block > h2,
body.typography .block > h2,
body.responsiveLayout .block h2,
body.quickStart .block h2,
body.icons .block h2 {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  margin: 40px 0;
  color: #222;
  font-weight: normal;
}
body.quickStart .block-image,
body.responsiveLayout .block-image {
  padding: 30px 0; text-align: center;
}
body.icons h2 + .content > p {
  padding: 0 10px;
}
ul.the-icons li i {
  float: left;
  padding: 0 5px;
}
ul.the-icons li {
  color: #787878;
  float: left;
  list-style: none;
  padding: 2px 0;
  width: 190px;
}
.frontBox h2 a{
  text-align: center;
  padding-bottom: 30px;
  display: block;
  color: #1b1b1b;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  line-height: 64px;
}
#top_content1 h2, .contenttop h2 {
  text-align: center;
  font-size: 60px;
  margin: 45px 0 35px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 4px 4px 2px rgba(0, 0, 150, 1);
}

#top_line {
  background: #7676fe;
}
#top_line ul {
  margin-bottom: 0;
}
#top_line p {
  color: #fff;
  margin-bottom: 0;
  line-height: 36px;
  text-align: center;
}
.topMenu ul.menu > li > a.active, .topMenu ul.menu > li > a:hover {
color: #fff !important;
}

#top1 {
  overflow: hidden;
}
#top1 h1 {
  font-size: 60px;
  width: 860px;
  margin-top: 35px;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#top1 p {
  margin: 20px 0;
  color: #000;
  line-height: 34px;
  font-size: 16px;
  text-transform: uppercase;
}
#top1 .readMore {
  color:#fff;
  line-height: 32px;
  border: 0px;
  text-align: center;
  width: 100px;
  background:#7676fe;
  box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 0px;
}
#top1 .readMore:before {
  content: ".";
  color:transparent;
  line-height: 16px;
  width: 100;
  margin-top: 0px;
  margin-bottom: -17px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1) );
  background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  display:block;
}
.bg_team {
  background: #7676fe;
  min-height: 640px;
}
.image_team img, .image_top img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.all img:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  transform: scale(1.15);
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
#top1:hover .image_top img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  transform: scale(1.08);
  -ms-transform: scale(1.08);
  -webkit-transform: scale(1.08);
}
div.all:hover h3 {
  padding-top: 40px !important;
  margin: 0 !important;
  text-shadow: 4px 4px 2px rgba(0, 0, 150, 1);
  font-size: 26px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#top_content1 h3 {
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 29px 0 1px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#top_content1 p {
  text-align: center;
  color: #fff;
}
#line2 {
  padding-bottom: 30px;
}
#line2 h2, .map_block h2 {
  text-align: center;
  font-size: 60px;
  margin: 45px 0;
  line-height: 53px;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#hexagon i {
  color: #111;
  font-size: 60px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  padding: 5px 0 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.service {
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 25px;
  border: 1px solid #ddd;
  margin-bottom: 27px;
  max-height: 387px;
}
.service:hover {
  -o-box-shadow:      12px 12px 29px #555;
  -icab-box-shadow:   12px 12px 29px #555;
  -khtml-box-shadow:  12px 12px 29px #555;
  -moz-box-shadow:    12px 12px 29px #555;
  -webkit-box-shadow: 12px 12px 29px #555;
  box-shadow:         12px 12px 29px #555;
}
.service:hover h3 {
  text-shadow: 3px 2px 2px rgba(150, 150, 150, 1);
}
.service:hover .readMore {
  box-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.service h3 {
  color: #7676fe;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.service .readMore {
  color:#fff;
  line-height: 32px;
  border: 0px;
  text-align: center;
  width: 100px;
  background:#7676fe;
  box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 0px;
  margin: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.service .readMore:before {
  content: ".";
  color:transparent;
  line-height: 16px;
  width: 100;
  margin-top: 0px;
  margin-bottom: -17px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1) );
  background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  display:block;
}
.service_text {
  min-height: 168px;
}
.service p {
  color: #000;
  line-height: 28px;
}

/*________________________________________________________________________*/

#team ul li:first-child {margin-left: 0 !important;}
#price ul li:first-child {margin-left: 0 !important;}
/*___________________ END Swiper - Mobile Touch Slider ____________________*/

.slider_flex, .map_block {
  overflow: hidden;
}
.slider_flex .col-lg-12 {
  padding: 0;
  text-align: center;
}
.slider_flex p {
  color: #000;
  font-size: 14px;
  padding: 0 50px;
  line-height: 28px;
}
.contenttop {
  background:#7676fe;
  padding-bottom: 15px;
}
div.contenttop li {
  width: 31%;
  list-style: none;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  margin: 30px 12px;
}
.contenttop li .left {
  float: left;
}
.contenttop li .left i {
  font-size: 32px;
  line-height: 42px;
}
.contenttop li .right {
  float: right;
  width: 84%;
}
.featuresTitle h3, .left i {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.featuresTitle:hover h3, .featuresTitle:hover .left i {
  text-shadow: 4px 4px 2px rgba(0, 0, 150, 1);
}
.map_block .col-lg-12 {
  padding: 0;
}
#footer ul li {
  list-style-type: none;
  list-style-image: none;
}
#footer p {
  color: #fff;
  line-height: 24px;
}
#footer h2 {
  color: #fff;
  text-shadow: 4px 4px 2px rgba(0, 0, 150, 1);
  margin-bottom: 12px;
}
#footer {
  background: #7676fe !important; 
  padding: 40px 0 30px 0;
  font-size: 15px;
}
p.siteName {
  color: #FFF;
  text-align: center;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 7px;
  margin: 5px 0 20px;
  text-shadow: 1px 1px 3px #000;
}
#footer .copyright {
  text-align: center;
  margin: 21px 0;
}
#footer .copyright a {
  font-size: 14px;
  font-weight:normal;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#footer .footerMenu ul {
  margin: 10px 0;
  overflow: hidden;
}
#footer .footerMenu ul li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline-block;
}
#footer .socBox {
  text-align: center;
}
.carousel-indicators {
  bottom: 53px !important;
}
.carousel-inner h2 a {
  text-align: center;
  font-size: 60px;
  margin: 45px 0;
  line-height: 53px;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
li.comment-add.first.last {
  display: none;
}
li.comment_forbidden.first.last {
  display: none;
}

.carousel-inner h2 {
  margin-bottom: 32px;
}