<?php
/**
 * @file
 * Filename:     style_stting.css
 * Website:      http://www.ordasoft.com
 * Description:  system styles
 * Author:       ordasoft dev team ordasoft.com.
 */
?>
<style type="text/css">
html body {
  background-image: url(<?php print $base_root . $base_path . path_to_theme() . "/images/" . $layout_pattern?>.png);
  background-repeat: repeat;
  font-family: <?php print $body_font ?>;
}

body a:hover {
    text-decoration: <?php print (($b_decor_hover == 1) ? 'underline' : 'none'); ?>;
}
.topMenu li a {
  font-family: <?php print $top_menu_font ?>;
  text-decoration: <?php print (($t_decor == 1) ? 'underline' : 'none'); ?>;
}
.topMenu li a:hover {
    text-decoration: <?php print (($t_decor_hover == 1) ? 'underline' : 'none'); ?>;
}
#main-navbar-collapse ul li a {
  font-family: <?php print $main_menu_font ?>;
  text-decoration: <?php print (($m_decor == 1) ? 'underline' : 'none'); ?>;
}
#main-navbar-collapse ul li a:hover {
    text-decoration: <?php print (($m_decor_hover == 1) ? 'underline' : 'none'); ?>;
}
#footer a {
  font-family: <?php print $footer_links_font ?>;
  text-decoration: <?php print (($f_decor == 1) ? 'underline' : 'none'); ?>;
}
#footer a:hover {
    text-decoration: <?php print (($f_decor_hover == 1) ? 'underline' : 'none'); ?>;
}
body a {
  font-family: <?php print $body_links_font ?>;
  text-decoration: <?php print (($b_decor == 1) ? 'underline' : 'none'); ?>;
}


h1 {font-family: <?php print $h1_font ?>;}
h2 {font-family: <?php print $h2_font ?>;}
h3 {font-family: <?php print $h3_font ?>;}
h4 {font-family: <?php print $h4_font ?>;}
h5 {font-family: <?php print $h5_font ?>;}
h6 {font-family: <?php print $h6_font ?>;}
</style>
